:root {
    --color-white: #fff;
    --color-black: #000;
    --color-body: #eeeeee;
    --color-gray1: #333333;
    --color-gray2: #444444;
}

body {
    background-color: var(--color-body);
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: 0;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    width: 100vw;
    min-height: 100vh;
    font-size: 16px;
    overflow-x: hidden;
    color: var(--color-black);
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    line-height: 1.6;

}

.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
    
header { grid-area: 1 / 1 / 2 / 2; }
nav { grid-area: 1 / 2 / 2 / 3; }
main { grid-area: 2 / 1 / 5 / 3; }
footer { grid-area: 5 / 1 / 6 / 3; }    

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

header {
    padding: 2vh 2vw;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
}

nav {
    display: flex;
    justify-content: center;
}

nav a {
    padding: 10px;
    margin: 0 15px;
    color: var(--color-black);
    font-weight: 700;
}

nav a:visited {
    color: var(--color-black);
}

nav a:hover {
    color: red;
}

main {
    padding: 2vh 5vw;
    box-shadow: var(--box-shadow);
    position: relative;
    transition: all 0.3s ease;
}

.btn {
  position: relative;
  padding: 1.5rem 3rem;
  font-size: 1.1rem;
  font-weight: 600;
  color: #fff;
  background: none;
  border: none;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.4s ease;
}

.matrix {
  background: #000;
  border: 2px solid #0f0;
  color: #0f0;
}

.code-rain {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    180deg,
    rgba(0, 255, 0, 0) 0%,
    rgba(0, 255, 0, 0.2) 50%,
    rgba(0, 255, 0, 0) 100%
  );
  opacity: 0;
  transition: 0.3s;
}

.matrix:hover .code-rain {
  opacity: 1;
  animation: rain 1s linear infinite;
}

@keyframes rain {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  max-height: 200px;
  overflow-y: auto;
}
.dropdown-content label {
  display: block;
  padding: 8px;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.input-box {
  width: 200px;
  padding: 10px;
}