.floating-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 101;
}

.notepad {
    position: fixed;
    top: 0;
    right: -100%;
    width: 300px;
    height: 100vh;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: right 0.3s ease;
    padding: 10px;
    border-radius: 5px 0 0 5px;
    overflow-y: auto;
    z-index: 100;
    background-color: #aaa;
}

.notepad textarea {
    width: 100%;
    background-color: #eee;
    height: 100px;
    margin-bottom: 10px;
    resize: none;
    border-radius: 5px;
}

.notepad ul {
    list-style-type: none;
    padding: 0;
}

.notepad li {
    width: 100%;
    background-color: #eee;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    white-space: normal;
    word-wrap: break-word;
    word-break: break-word;
    border-radius: 5px;
}

.notepad input {
    margin: 0 10px 0 5px;
}

.graph {
    height: 100vh;
}