{% extends "template.html" %}

{% block title %}Plot Temperature Data{% endblock %}
{% block app %}Plot Temperature Data{% endblock %}

{% block content %}
    <form method="POST">
        <label for="files">Enter file names (comma-separated, without extensions):</label>
        <input type="text" id="files" name="files" required>
        <br>

        <label for="ref_file">Enter reference file (without extension):</label>
        <input type="text" id="ref_file" name="ref_file">
        <br>

        <label for="show_points">Show points on the graph?</label>
        <input type="checkbox" id="show_points" name="show_points">
        <br>

        <button class="btn matrix" type="submit">
            <span>Analyze</span>
            <div class="code-rain"></div>
        </button>
    </form>

    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}

    {% if plot %}
        <h2>Generated Plot:</h2>
        <div>{{ plot | safe }}</div>
    {% endif %}

    {% if intervals %}
        <h2>Average Sampling Intervals</h2>
        <div>{{ intervals|safe }}</div> 
    {% endif %}
{% endblock %}